<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body>
        <h1> Vehicle </h1>
        <div>{{data}}</div>
        <!--<div> id = "bar"</div>-->
       <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!--<script> src = "car.js"</script>-->
        <script type="text/javascript" {{ url_for('static', filename='js/car.js')}}></script>
       


</head>
</html>
